
/*   
.item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  } */
.brandLogo{
    width: 100px;
}

.carousel .carousel-item {
    height: 400px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 500px;
    height: 400px;

}

